:root {
    --dark-accent: #072473;
    --body-color: rgb(247, 255, 250);
    --card-color: white;
    --accent: rgb(209, 195, 4);
    --box-shadow: rgba(128, 128, 128, 0.228);
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 100%;
    text-align: center;
    min-height: 100vh;
    background-color: var(--body-color);
}

#content {
    display: flex;
    flex-direction: column;
}


/* HEADER */

.header {
    display: flex;
    gap: 20 px;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.title-container {
    background-image: url(../images/favicon.ico);
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    font-family: inherit;
    font-size: 100%;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    background-color: white;
    font-weight: 500;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 5px 8px var(--box-shadow);
    transition: 0.3s;
}

button:active {
    color: var(--accent);
    box-shadow: none;
}


/* Footer */

a {
    text-decoration: none;
    cursor: pointer;
}

a:active, a:visited {
    color: var(--accent);
}